Repository navec/ticket: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

feat(login): create login endpoint
  auth-service/src/app.module.ts
  auth-service/src/application/index.ts
  auth-service/src/application/usecases/__tests__/login.usecase.test.ts
  auth-service/src/application/usecases/index.ts
  auth-service/src/application/usecases/login.usecase.ts
  auth-service/src/domain/enums/auth-provider.enum.ts
  auth-service/src/domain/enums/index.ts
  auth-service/src/domain/index.ts
  auth-service/src/domain/ports/__tests__/auth-strategy-factory.port.test.ts
  auth-service/src/domain/ports/__tests__/auth-strategy.port.test.ts
  auth-service/src/domain/ports/auth-strategy-factory.port.ts
  auth-service/src/domain/ports/auth-strategy.port.ts
  auth-service/src/domain/ports/index.ts
  auth-service/src/domain/types/credentials.type.ts
  auth-service/src/domain/types/index.ts
  auth-service/src/infrastructure/factories/__tests__/auth-strategy.factory.test.ts
  auth-service/src/infrastructure/factories/auth-strategy.factory.ts
  auth-service/src/infrastructure/factories/index.ts
  auth-service/src/infrastructure/index.ts
  auth-service/src/infrastructure/strategies/google-auth.strategy.ts
  auth-service/src/infrastructure/strategies/index.ts
  auth-service/src/infrastructure/strategies/jwt-auth.strategy.ts
  auth-service/src/infrastructure/strategies/local-auth.strategy.ts
  auth-service/src/presentations/controllers/AuthController.ts
  auth-service/src/presentations/controllers/__tests__/auth.controller.test.ts
  auth-service/src/presentations/controllers/auth.controller.ts
  auth-service/src/presentations/controllers/index.ts
  auth-service/src/presentations/dtos/credentials.dto.ts
  auth-service/src/presentations/dtos/index.ts
  auth-service/src/presentations/index.ts
  auth-service/src/shared/constants/index.ts
  auth-service/src/shared/constants/injector-name.constant.ts
  auth-service/src/shared/index.ts
  auth-service/tsconfig.json
  core/src/decorators/core/inject.decorator.ts
  core/src/injectors/controller.injector.ts
  core/src/injectors/provider.injector.ts
  gateway-service/src/auth/presentation/controllers/http-auth.controller.ts
  gateway-service/src/auth/presentation/dtos/login.dto.ts
Due: prettier --write, eslint --fix

chore(build): update tsconfig.tsbuildinfo
  auth-service/src/app.module.ts
  auth-service/tsconfig.tsbuildinfo
  core/tsconfig.tsbuildinfo
  gateway-service/tsconfig.tsbuildinfo
Due: prettier --write, eslint --fix

chore(build): remove tsconfig.tsbuildinfo
  .gitignore
  auth-service/tsconfig.tsbuildinfo
  core/tsconfig.tsbuildinfo
  gateway-service/tsconfig.tsbuildinfo
Due: none

feat(auth-service): add provider name for input contract
  auth-service/src/application/usecases/__tests__/login.usecase.test.ts
  auth-service/src/application/usecases/login.usecase.ts
  auth-service/src/domain/types/credentials.type.ts
  auth-service/src/infrastructure/strategies/default-auth.strategy.ts
  auth-service/src/presentations/controllers/__tests__/auth.controller.test.ts
  auth-service/src/presentations/controllers/auth.controller.ts
  auth-service/src/presentations/dtos/credentials.dto.ts
Due: prettier --write, eslint --fix

chore(e2e): add e2e tests for auth controller
  auth-service/e2e/auth.controller.test.ts
  auth-service/e2e/utils/TestingModule.ts
  auth-service/e2e/utils/getHttpPort.ts
  auth-service/package.json
  auth-service/src/application/usecases/__tests__/email-password-auth.usecase.test.ts
  auth-service/src/application/usecases/email-password-auth.usecase.ts
  auth-service/src/infrastructure/stores/default-user.store.ts
  core/src/adapters/abstracts/server.adapter.ts
  core/src/adapters/servers/http-server/server.adapter.ts
  jest.config.ts
  package-lock.json
  package.json
Due: prettier --write, eslint --fix

chore(e2e): add e2e tests for auth controller (#7)
  auth-service/e2e/auth.controller.test.ts
  auth-service/e2e/utils/TestingModule.ts
  auth-service/e2e/utils/getHttpPort.ts
  auth-service/package.json
  auth-service/src/application/usecases/__tests__/email-password-auth.usecase.test.ts
  auth-service/src/application/usecases/email-password-auth.usecase.ts
  auth-service/src/infrastructure/stores/default-user.store.ts
  core/src/adapters/abstracts/server.adapter.ts
  core/src/adapters/servers/http-server/server.adapter.ts
  jest.config.ts
  package-lock.json
  package.json
Due: prettier --write, eslint --fix

chore(ci): create test workflow for github
  .github/workflows/test.yml
Due: prettier --write

chore(ci): add more check steps
  .github/workflows/test.yml
  auth-service/package.json
  core/jest.config.ts
  core/package.json
  jest.config.ts
  package.json
Due: prettier --write, eslint --fix

chore(ci): add codeQL
  .github/workflows/test.yml
Due: prettier --write

chore(ci): add commit rule
  .github/workflows/commit.yml
  .husky/commit-msg
  .husky/pre-commit
  commitlint.config.ts
  package-lock.json
  package.json
Due: prettier --write

chore(ci): add reviewdog step
  .github/workflows/reviewdog.yml
Due: prettier --write

chore(ci): add a CI configuration (#8)
  .github/workflows/commit.yml
  .github/workflows/reviewdog.yml
  .github/workflows/test.yml
  .husky/commit-msg
  .husky/pre-commit
  auth-service/package.json
  commitlint.config.ts
  core/jest.config.ts
  core/package.json
  jest.config.ts
  package-lock.json
  package.json
Due: prettier --write, eslint --fix

chore(pr): add a pull request template
  .github/pull_request_template.md
  .github/workflows/commit.yml
Due: prettier --write

chore(pr): add a pull request template (#9)
  .github/pull_request_template.md
  .github/workflows/commit.yml
Due: prettier --write

chore(auth-service): create dockerfile
  Dockerfile
  auth-service/Dockerfile
  auth-service/package.json
  auth-service/src/app.module.ts
  auth-service/src/application/usecases/email-password-auth.usecase.ts
  auth-service/src/application/usecases/google-auth.usecase.ts
  auth-service/src/application/usecases/google-redirect-url.usecase.ts
  auth-service/src/domain/ports/__tests__/auth-service.port.test.ts
  auth-service/src/infrastructure/repositories/user-in-memory.repository.ts
  auth-service/src/infrastructure/services/email-password-auth.service.ts
  auth-service/src/infrastructure/services/google.service/google-auth-redirect-url.service.ts
  auth-service/src/infrastructure/services/google.service/google-auth.service.ts
  auth-service/src/infrastructure/services/jwt.service.ts
  auth-service/src/main.ts
  auth-service/src/presentations/controllers/auth.controller.ts
  auth-service/src/presentations/dtos/email-password-credentials.dto.ts
  auth-service/src/presentations/dtos/google-credentials.dto.ts
  auth-service/tsconfig.json
  core/package.json
  gateway-service/package.json
  jest.config.ts
  package-lock.json
  package.json
Due: prettier --write, eslint --fix

chore(cd): create dockerfiles
  Dockerfile
  auth-service/Dockerfile
  auth-service/e2e/auth.controller.test.ts
  auth-service/e2e/utils/TestingModule.ts
  auth-service/package.json
  auth-service/src/app.module.ts
  auth-service/src/application/usecases/email-password-auth.usecase.ts
  auth-service/src/application/usecases/google-auth.usecase.ts
  auth-service/src/application/usecases/google-redirect-url.usecase.ts
  auth-service/src/domain/ports/__tests__/auth-service.port.test.ts
  auth-service/src/infrastructure/repositories/user-in-memory.repository.ts
  auth-service/src/infrastructure/services/email-password-auth.service.ts
  auth-service/src/infrastructure/services/google.service/google-auth-redirect-url.service.ts
  auth-service/src/infrastructure/services/google.service/google-auth.service.ts
  auth-service/src/infrastructure/services/jwt.service.ts
  auth-service/src/main.ts
  auth-service/src/presentations/controllers/auth.controller.ts
  auth-service/src/presentations/dtos/email-password-credentials.dto.ts
  auth-service/src/presentations/dtos/google-credentials.dto.ts
  core/package.json
  core/src/decorators/http/__tests__/resquest.decorator.test.ts
  gateway-service/Dockerfile
  gateway-service/jest.config.ts
  gateway-service/package.json
  gateway-service/src/auth/application/usecases/LoginUserUseCase.ts
  gateway-service/src/auth/auth.module.ts
  gateway-service/src/auth/infrastructure/services/HttpAuthService.ts
  gateway-service/src/auth/presentation/controllers/http-auth.controller.ts
  gateway-service/src/auth/presentation/dtos/login.dto.ts
  gateway-service/src/gateway.module.ts
  gateway-service/src/main.ts
  jest.config.ts
  package-lock.json
  package.json
Due: prettier --write, eslint --fix

test(dep): use @ticket/core versionin the package.json file
  auth-service/package.json
  gateway-service/package.json
  package-lock.json
Due: prettier --write

test(dep): move @ticket/core dep in the root package.json file
  auth-service/package.json
  gateway-service/package.json
  package-lock.json
  package.json
Due: prettier --write

Revert "test(dep): move @ticket/core dep in the root package.json file"
  auth-service/package.json
  gateway-service/package.json
  package-lock.json
  package.json
Due: prettier --write

chore(ci): update test workflow file
  .github/workflows/test.yml
  gateway-service/package.json
Due: prettier --write

chore(cd): create dockerfiles (#11)
  .github/workflows/test.yml
  Dockerfile
  auth-service/Dockerfile
  auth-service/e2e/auth.controller.test.ts
  auth-service/e2e/utils/TestingModule.ts
  auth-service/package.json
  auth-service/src/app.module.ts
  auth-service/src/application/usecases/email-password-auth.usecase.ts
  auth-service/src/application/usecases/google-auth.usecase.ts
  auth-service/src/application/usecases/google-redirect-url.usecase.ts
  auth-service/src/domain/ports/__tests__/auth-service.port.test.ts
  auth-service/src/infrastructure/repositories/user-in-memory.repository.ts
  auth-service/src/infrastructure/services/email-password-auth.service.ts
  auth-service/src/infrastructure/services/google.service/google-auth-redirect-url.service.ts
  auth-service/src/infrastructure/services/google.service/google-auth.service.ts
  auth-service/src/infrastructure/services/jwt.service.ts
  auth-service/src/main.ts
  auth-service/src/presentations/controllers/auth.controller.ts
  auth-service/src/presentations/dtos/email-password-credentials.dto.ts
  auth-service/src/presentations/dtos/google-credentials.dto.ts
  core/package.json
  core/src/decorators/http/__tests__/resquest.decorator.test.ts
  gateway-service/Dockerfile
  gateway-service/jest.config.ts
  gateway-service/package.json
  gateway-service/src/auth/application/usecases/LoginUserUseCase.ts
  gateway-service/src/auth/auth.module.ts
  gateway-service/src/auth/infrastructure/services/HttpAuthService.ts
  gateway-service/src/auth/presentation/controllers/http-auth.controller.ts
  gateway-service/src/auth/presentation/dtos/login.dto.ts
  gateway-service/src/gateway.module.ts
  gateway-service/src/main.ts
  jest.config.ts
  package-lock.json
  package.json
Due: prettier --write, eslint --fix

chore(container): add a docker compose configuration
  docker-compose.yml
Due: none

chore(container): add a docker compose configuration (#12)
  docker-compose.yml
Due: none

fix(core): dev mode and path register
  auth-service/package.json
  core/src/adapters/servers/http-server/__tests__/request.adapter.test.ts
  core/src/adapters/servers/http-server/__tests__/server.adapter.test.ts
  core/src/adapters/servers/http-server/request.adapter.ts
  core/src/adapters/servers/http-server/server.adapter.ts
  core/src/registries/__tests__/endpoint.registry.test.ts
  core/src/registries/endpoint.registry.ts
  core/src/routers/__tests__/router-registry.test.ts
  core/src/routers/router-registry.ts
  gateway-service/package.json
  package-lock.json
  package.json
Due: prettier --write, eslint --fix

fix(core): dev mode and path register (#13)
  auth-service/package.json
  core/src/adapters/servers/http-server/__tests__/request.adapter.test.ts
  core/src/adapters/servers/http-server/__tests__/server.adapter.test.ts
  core/src/adapters/servers/http-server/request.adapter.ts
  core/src/adapters/servers/http-server/server.adapter.ts
  core/src/registries/__tests__/endpoint.registry.test.ts
  core/src/registries/endpoint.registry.ts
  core/src/routers/__tests__/router-registry.test.ts
  core/src/routers/router-registry.ts
  gateway-service/package.json
  package-lock.json
  package.json
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: */**/*.{json,md,yml,yaml}) or (any of: */**/*.{js,ts})
  eslint --fix: any of: */**/*.{js,ts}
